# --- Backend (FastAPI) ---
fastapi
uvicorn
pydantic
joblib

# --- Frontend (Streamlit) ---
streamlit
requests

# --- Machine Learning Stack ---
pandas
numpy
scikit-learn == 1.7.2
xgboost == 3.2.0
mlflow
plotly